<div class="page-header">
  <h1 class="text-center">General KDE Report</h1>
</div>

<div class="row-fluid">
  <div class="span12">
   
    <div id="facebook_posts"></div>
    <div id="forum_posts"></div>
  </div>
</div>
<% content_for :scripts do %>
  <script>
    $(function () {
	Highcharts.setOptions({
     colors: [
   '#4572A7', 
   '#AA4643', 
   '#89A54E', 
   '#80699B', 
   '#3D96AE', 
   '#DB843D', 
   '#92A8CD', 
   '#A47D7C', 
   '#B5CA92'
]
    });
  new Highcharts.StockChart({
    chart: { renderTo: 'facebook_posts' },
    title: { text: 'Facebook Posts over time' },
    xAxis: { oridnal: false },
    yAxis: {
      title: { text: 'Number of Posts' },
      min: 0,
    },
    plotOptions: {line: {
            connectNulls: false
        } },
    series: [
    {
      name: "Posts",
      pointInterval: <%= 24*60*60 * 1000 %>,
      pointStart: <%= @starting_date %>,
      fillColor : '#348AFA',
      data: <%= @facebook_posts %>,
      "dataGrouping": { "units": [ [ "day",[ 1 ] ],[ "month",[ 1 ] ],["year",[1]]],"approximation": "sum", "groupPixelWidth": 50 }
    },
    ]
  });
});
    $(function () {
	Highcharts.setOptions({
     colors: [
   '#4572A7', 
   '#AA4643', 
   '#89A54E', 
   '#80699B', 
   '#3D96AE', 
   '#DB843D', 
   '#92A8CD', 
   '#A47D7C', 
   '#B5CA92'
]
    });
  new Highcharts.StockChart({
    chart: { renderTo: 'forum_posts' },
    title: { text: 'Forum Topics over time' },
    xAxis: { oridnal: false },
    yAxis: {
      title: { text: 'Number of Threads' },
      min: 0,
    },
    plotOptions: {line: {
            connectNulls: false
        } },
    series: [
    {
      name: "Posts",
      pointInterval: <%= 24*60*60 * 1000 %>,
      pointStart: <%= @fstarting_date %>,
      fillColor : '#348AFA',
      data: <%= @forum_topics %>,
      "dataGrouping": { "units": [ [ "day",[ 1 ] ],[ "month",[ 1 ] ],["year",[1]]],"approximation": "sum", "groupPixelWidth": 50 }
    },
    ]
  });
});
  </script>
<% end %>