<div class="page-header">
  <h1 class="text-center"><%= @project.name.upcase %> <%= t :bugs %></h1>
</div>
<div class="row-fluid">
  <div class="span3">
    <%= render :partial => 'sidebar' %>
  </div>
  <div class="span9">    
    <table class="table table-striped">
      <thead>
	<tr>
	  <th class="bugsTableHead"><%= t :id %></th>
	  <th class="bugsTableHead"><%= t :component %></th>
	  <th class="bugsTableHead"><%= t :assignee %></th>
	  <th class="bugsTableHead"><%= t :status %></th>
	  <th class="bugsTableHead"><%= t :summary %></th>
	  <th class="bugsTableHead"><%= t :changed %></th>
	</tr>
      </thead>
      <tbody>
	<% @bugs.each do |bug| %>
	  <tr>
	    <td class="bugsTable"><a href="https://bugs.kde.org/show_bug.cgi?id=<%= bug["id"] %>"><%= bug["id"] %></a></td>
	    <td class="bugsTable"><%= bug["component"] %></td>
	    <td class="bugsTable"><%= bug["assigned_to"] %></td>
	    <td class="bugsTable"><%= bug["status"] %></td>
	    <td class="bugsTable"><%= bug["summary"] %></td>
	    <td class="bugsTable"><%= bug["last_change_time"][0..9] %></td>
	  </tr>
	<% end %>
      </tbody>
    </table>
    <%= will_paginate @bugsPages %>
  </div>
</div>