<div class="page-header">
  <h1 class="text-center"><%= @project.name.upcase %> Git Repositories</h1>
</div>
<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><%= @project.name %></li>
              <li><%= link_to "Project Page", project_path %></li>
              <li><%= link_to "Bug Report", bug_project_path %></li>
              <li class="disabled"><%= link_to "Git Report", git_project_path %></li>
              <li class="disabled"><%= link_to "Maillists Report", mailList_project_path %></li>
              <li class="disabled"><%= link_to "IRC Channels Report", ircChannel_project_path %></li>
            </ul>
    </div><!--/.well -->
  </div>
  <div class="span9">
    <div class="hero-unit">
      <h1>You shouldn't be HERE!</h1>
      <p>A big Monster might eat YOU!</p>
      <p>
	<a class="btn btn-primary btn-large" href="http://www.wallpaperdev.com/customres/1024x768-hd-dakar-monster-energy-cars-tacspx-wallpapers-free.jpg">
	  RUN NOW!!!
	</a>
      </p>
    </div>
  </div>
</div>